main #about1 {
    display: block;
    height: auto;
    padding: 50px;
    background-image: linear-gradient(#222, #000);
    color: #FFF;
}
main #about1 .title {
    text-align: center;
    padding: 5vh;
    text-shadow: 3px 3px #000;
}
main #about1 #richcon {
    width: 100%;
    clear: both;
    overflow: auto;
}
main #about1 #richcon #photo {
    float: left;
    width: 50%;
    padding: 0 5%;
    box-sizing: border-box;
    object-fit: contain;
}
main #about1 #richcon #photo img {
    width: 100%;
    border: 1px solid #FFF;
}
main #about1 #henck {
    clear: left;
    float: left;
    width: 50%;
    padding: 5%;
    box-sizing: border-box;
    text-align: right;
}
main #about1 #henck #photo {
    width: 50%;
    float: left;
    padding: 0 5%;
    box-sizing: border-box;
    object-fit: contain;
}
main #about1 #henck #photo img {
    width: 100%;
    border: 1px solid #FFF;
}
main #about1 #richard {
    display: inline-block;
    width: 50%;
    padding: 5%;
    box-sizing: border-box;
}
main #about1 #richard #photo {
    width: 50%;
    float: right;
    padding: 0 5%;
    box-sizing: border-box;
    object-fit: contain;
}
main #about1 #richard #photo img {
    width: 100%;
    border: 1px solid #FFF;
}
main #about2 {
    display: none;
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 100px;
    box-sizing: border-box;
}
main #about2 #header {
    position: fixed;
    height: 50%;
    top: 25%;
    width: 20vw;
    left: 20vw;
    z-index: 1;
    color: #FFF;
    text-shadow: 2px 2px #000;
}
main #about2 #header a {
    display: block;
    text-decoration: none;
    line-height: 5vh;
    color: #FFF;
    cursor: pointer;
}
main #about2 #header a:hover {
    color: #BBB;
}
main #about2 #photos {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
    overflow: hidden;
}
main #about2 #photos img {
    width: 100%;
    height: 100%;
    display: none;
    object-fit: cover;
}
main #about2 #photos img:nth-child(1) {
    display: block;
}
main #about2 > section {
    width: 40%;
    position: relative;
    left: 55%;
    padding: 50px;
    background-image: linear-gradient(#000, #111);
    box-shadow: 0 0 10px 10px #000 inset;
    color: #FFF;
    display: none;
    z-index: 1;
    box-sizing: border-box;
}
main #about3 {
    display: none;
    height: auto;
}
main #about3 .title {
    height: 20vh;
    line-height: 20vh;
    color: #FFF;
    background-image: linear-gradient( #000,#111, #000);
    text-align: center;
}
main #about3 section .header {
    height: 40vh;
    width: 100%;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
main #about3 section .header .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #000;
    opacity: 0.3;
}
main #about3 section .header h2 {
    position: absolute;
    left: 20px;
    bottom: 0;
    color: #FFF;
    text-shadow: 2px 2px #000;
}
main #about3 section .content {
    background-image: linear-gradient(#222, #000);
    color: #FFF;
    padding: 50px 10vw;
}
main #about3 #richcon .header {
    background-image: url(http://localhost/test/wordpress/wp-content/uploads/2019/08/Henck-Richard-Pose1.jpg);
}
main #about3 #henck .header {
    background-image: url(http://localhost/test/wordpress/wp-content/uploads/2019/08/Henck.jpg);
}
main #about3 #richard .header {
    background-image: url(http://localhost/test/wordpress/wp-content/uploads/2019/08/Richard1.jpg);
}
main #about3 #richard .content {
    padding-bottom: 20vh;
}
main #about4 {
    display: none;
    height: auto;
}
main #about4 header {
    height: 70vh;
    width: 100%;
    position: relative;
}
main #about4 header img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
main #about4 header h1 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #FFF;
    text-shadow: 2px 2px #000;
}
main #about4 #about {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
main #about4 #about #richcon {
    float: left;
    flex: 50%;
    flex-shrink: 0;
    height: 100%;
    padding: 50px;
    box-sizing: border-box;
    color: #FFF;
    text-align: left;
}
main #about4 #about #henck {
    flex: 50%;
    flex-shrink: 0;
    height: 50%;
    padding: 20px;
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid #FFF;
    box-shadow: 0 0 5px 0 #FFF inset;
    background-image: radial-gradient(#333, #000);
    color: #FFF;
}
main #about4 #about #henck img {
    width: 15vw;
    height: 15vw;
    object-fit: cover;
    margin: auto;
    border: 1px solid #FFF;
}
main #about4 #about #richard {
    flex: 50%;
    flex-shrink: 0;
    flex-grow: 0;
    align-self: flex-end;
    height: 50%;
    padding: 20px;
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid #FFF;
    box-shadow: 0 0 5px 0 #FFF inset;
    background-image: radial-gradient(#333, #000);
    color: #FFF;
}
main #about4 #about #richard img {
    width: 15vw;
    height: 15vw;
    object-fit: cover;
    margin: auto;
    border: 1px solid #FFF;
}