main #about1 {
    display: block;
    height: auto;
    padding: 50px;
    background-image: linear-gradient(#222, #000);
    color: #FFF;
}
main #about1 .title {
    text-align: center;
    padding: 5vh;
    text-shadow: 3px 3px #000;
}
main #about1 #richcon {
    width: 100%;
    clear: both;
    overflow: auto;
}
main #about1 #richcon #photo {
    float: left;
    width: 50%;
    padding: 0 5%;
    box-sizing: border-box;
    object-fit: contain;
}
main #about1 #richcon #photo img {
    width: 100%;
    border: 1px solid #FFF;
}
main #about1 #henck {
    clear: left;
    float: left;
    width: 50%;
    padding: 5%;
    box-sizing: border-box;
    text-align: right;
}
main #about1 #henck #photo {
    width: 50%;
    float: left;
    padding: 0 5%;
    box-sizing: border-box;
    object-fit: contain;
}
main #about1 #henck #photo img {
    width: 100%;
    border: 1px solid #FFF;
}
main #about1 #richard {
    display: inline-block;
    width: 50%;
    padding: 5%;
    box-sizing: border-box;
}
main #about1 #richard #photo {
    width: 50%;
    float: right;
    padding: 0 5%;
    box-sizing: border-box;
    object-fit: contain;
}
main #about1 #richard #photo img {
    width: 100%;
    border: 1px solid #FFF;
}