main #clients {
    display: flex;
    justify-content: center;
    padding: 5vh 10%;
    min-height: 100vh;
    box-sizing: border-box;
    background: linear-gradient(#000, #222);
}
main #clients #client-list {
    width: 50%;
    margin-left: 50%;
    color: #FFF;
    align-self: center;
    position: relative;
}
main #clients #client-list #img {
    width: 100%;
    padding: 0 5vw;
    box-sizing: border-box;
    position: absolute;
    right: 100%;
    top: 0;
}
main #clients #client-list #img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
main #clients #client-list ul {
    border-left: 2px solid #FFF;
    margin: 0;
}
main #clients #client-list ul li {
    list-style: none;
    padding: 5px 0;
}