body {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, a, p, span {
    font-family: "Open Sans",Arial,sans-serif;
}
h1 {
    margin: 0!important;
}
#nav-position-toggler {
    position: fixed;
    bottom: 5px;
    right: 5px;
    height: 25px;
    width: 25px;
    background-color: #444;
    opacity: 0.3;
    transition: 1s;
    z-index: 10;
}
#nav-position-toggler:hover {
    opacity: 1;
}
.menu-item a {
    color: #FFF;
    text-decoration: none;
}
.menu-item a:hover {
    color: #BBB;
}
#top {
    background-color: #000;
    width: 100%;
    height: auto;
    display: none;
    position: fixed;
    z-index: 10;
}
#top img {

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#top .top-center-menu {
    display: none;
}
#top .top-center-menu img {
    width: 10%;
    object-fit: contain;
    height: auto;
    position: absolute;
    top: 0;
    background-image: radial-gradient(#333, #000);
    box-shadow: 0 0 8px 8px #222;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    box-sizing: border-box;
}
#top .top-center-menu .menu {
    height: 8vh;
    padding: 0;
    margin: 0;
}
#top .top-center-menu .menu .menu-item {
    display: inline-block;
    width: 15%;
    line-height: 8vh;
    text-align: center;
}
#top .top-menu {
    display: none;
    height: 8vh;
    background-image: linear-gradient(#000, #555);
}
#top .top-menu img {
    width: 20%;
    object-fit: contain;
    height: 6vh;
    padding-top: 1vh;
    padding-left: 1vh;
    box-sizing: border-box;
}
#top .top-menu .menu {
    width: 80%;
    float: right;
    height: 8vh;
    margin: 0!important;
    padding-inline-start: 0;
}
#top .top-menu .menu .menu-item {
    display: inline-block;
    width: 16%;
    line-height: 8vh;
    text-align: center;
    transition: 0.5s;
}
#top .top-menu .menu .menu-item:hover {
    border-bottom: 3px solid #FFF;
}
#top .top-menu .menu .current-menu-item {
    border-bottom: 3px solid #FFF;
}
#side {
    background-color: #000;
    width: auto;
    height: 100vh;
    display: block;
    position: fixed;
    z-index: 10;
}
#side img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#side .side-menu {
    width: 15vw;
    height: 100%;
    position: relative;
    display: block;
}
#side .side-menu img {
    width: 90%;
    height: 10vh;
    object-fit: contain;
    margin: 5vh 5%;
}
#side .side-menu hr {
    height: 2px;
    background-color: #FFF;
    width: 100%;
    display: inline-block;
    margin: 0;
}
#side .side-menu .menu {
    background-image: linear-gradient(#111, #222, #111);
    width: 100%;
    height: 77vh;
    margin: 0;
    padding: 5vh 2vw;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 0 5px 5px #111 inset;
    display: flex;
    flex-direction: column;
}
#side .side-menu .menu .menu-item {
    vertical-align: middle;
    list-style: none;
    flex: 100%;
}
#side .side-menu .social-icons {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5vh;
    border-top: 2px solid #FFF;
    display: flex;
    background-color: #000;
}
#side .side-menu .social-icons a {
    color: #FFF;
    flex: 30%;
}
#side .side-menu .social-icons a:hover {
    color: #BBB;
}
#side .side-menu .social-icons a svg {
    width: 100%;
    padding-top: 1vh;
    height: 3vh;
}
#side .small-side-menu {
    width: 7vw;
    height: 100%;
    position: relative;
    display: none;
}
#side .small-side-menu img {
    width: 70%;
    height: auto;
    object-fit: contain;
    margin: 20px 15%;
}
#side .small-side-menu .nav-expander {
    width: 100%;
    height: 7vw;
    padding: 25%;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
}
#side .small-side-menu span {
    width: 100%;
    height: 0.5vw;
    margin-bottom: 2.25vw;
    background-color: #FFF;
    display: inline-block;
    transition: 1s;
    position: relative;
}
@media (hover: none) {
    #side .small-side-menu .nav-expander:hover span:nth-child(1) {
        background-color: #BBB;
        transform: none ;
    }
    #side .small-side-menu .nav-expander:hover span:nth-child(2) {
        background-color: #BBB;
        transform: none;
    }
}
#side .small-side-menu .nav-expander:hover span:nth-child(1) {
    background-color: #BBB;
    transform: translateY(1.5vw) rotate(45deg) ;
}
#side .small-side-menu .nav-expander:hover span:nth-child(2) {
    background-color: #BBB;
    transform: translateY(-1.5vw) rotate(-45deg) ;
}
#side .small-side-menu .menu {
    background-image: linear-gradient(#111, #222, #111);
    width: 0;
    height: 100vh;
    position: absolute;
    left: 7vw;
    top: 0;
    overflow: hidden;
    margin: 0;
    padding: 2vh 0;
    transition: 1s;
    box-sizing: border-box;
    box-shadow: 0 0 5px 5px #111 inset;
    display: flex;
    flex-flow: column;
}
#side .small-side-menu .menu .menu-item {
    display: flex;
    flex: 100%;
    list-style: none;
}
#side .small-side-menu .menu .menu-item a {
    height: min-content;
    align-self: center;
}
#side .small-side-menu .social-icons {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5vh;
    border-top: 2px solid #FFF;
    display: flex;
}
#side .small-side-menu .social-icons a {
    color: #FFF;
    flex: 30%;
}
#side .small-side-menu .social-icons a:hover {
    color: #BBB;
}
#side .small-side-menu .social-icons a svg {
    width: 100%;
    padding-top: 10px;
}
main {
    height: auto;
    width: 100%;
    box-sizing: border-box;
    padding: 0 0 0 15vw;
    position: relative;
}
main input[type="range"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    transition: 1s;
    z-index: 10;
}
main input[type="range"]:hover {
    opacity: 0.5;
}
main #loadscreentoggle {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    opacity: 0.3;
    transition: 0.5s;
}
main #loadscreentoggle:hover {
    opacity: 0.5;
}
main #loadscreen {
    height: 100vh;
    width: 100%;
    line-height: 100vh;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    opacity: 1;
    z-index: 20;
    background-color: #000;
    transition: 2s;
    transition-timing-function: linear;
}
main #loadscreen img {
    width: 50%;
    vertical-align: middle;
}
footer {
    text-align: center;
    background-color: #111;
    color: #FFF;
    height: auto;
    padding: 0 0 0 15vw;
}
footer #red {
    color: #F00;
}
footer a {
    text-decoration: none;
    color: #FFF;
}
footer a:hover {
    color: #BBB;
}
footer #footer1 {
    display: block;
    height: 7vh;
}
footer #footer1 p {
    line-height: 7vh;
    margin: 0;
}
footer #footer2 {
    display: none;
    height: 7vh;
}
footer #footer2 p {
    line-height: 7vh;
    margin: 0;
    float: left;
    padding-left: 5vw;
}
footer #footer2 .social-icons {
    line-height: 7vh;
    width: 20%;
    margin: 0;
    float: right;
    display: flex;
}
footer #footer2 .social-icons a {
    flex: 30%;
}
footer #footer2 .social-icons a svg {
    width: 100%;
}
footer #footer3 {
    height: auto;
    display: none;
}
footer #footer3 .wrap {
    height: 100%;
    width: 100%;
    display: flex;
}
footer #footer3 .wrap div {
    flex: 30%;
    padding: 5vh 5vw;
    box-sizing: border-box;
    border-right: 1px solid #FFF;
}
footer #footer3 .copyright p {
    line-height: 250%;
}
footer #footer3 .contact a {
    width: 100%;
    display: block;
    height: 25%;
}
footer #footer3 .contact h1 {
    width: 100%;
    display: block;
    height: 25%;
}
footer #footer3 .contact a svg {
    height: 100%;
}
main #about1 {
    display: block;
    height: auto;
    padding: 50px;
    background-image: linear-gradient(#222, #000);
    color: #FFF;
}
main #about1 .title {
    text-align: center;
    padding: 5vh;
    text-shadow: 3px 3px #000;
}
main #about1 #richcon {
    width: 100%;
    clear: both;
    overflow: auto;
}
main #about1 #richcon #photo {
    float: left;
    width: 50%;
    padding: 0 5%;
    box-sizing: border-box;
    object-fit: contain;
}
main #about1 #richcon #photo img {
    width: 100%;
    border: 1px solid #FFF;
}
main #about1 #henck {
    clear: left;
    float: left;
    width: 50%;
    padding: 5%;
    box-sizing: border-box;
    text-align: right;
}
main #about1 #henck #photo {
    width: 50%;
    float: left;
    padding: 0 5%;
    box-sizing: border-box;
    object-fit: contain;
}
main #about1 #henck #photo img {
    width: 100%;
    border: 1px solid #FFF;
}
main #about1 #richard {
    display: inline-block;
    width: 50%;
    padding: 5%;
    box-sizing: border-box;
}
main #about1 #richard #photo {
    width: 50%;
    float: right;
    padding: 0 5%;
    box-sizing: border-box;
    object-fit: contain;
}
main #about1 #richard #photo img {
    width: 100%;
    border: 1px solid #FFF;
}
main #about2 {
    display: none;
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 100px;
    box-sizing: border-box;
}
main #about2 #header {
    position: fixed;
    height: 50%;
    top: 25%;
    width: 20vw;
    left: 20vw;
    z-index: 1;
    color: #FFF;
    text-shadow: 2px 2px #000;
}
main #about2 #header a {
    display: block;
    text-decoration: none;
    line-height: 5vh;
    color: #FFF;
    cursor: pointer;
}
main #about2 #header a:hover {
    color: #BBB;
}
main #about2 #photos {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
    overflow: hidden;
}
main #about2 #photos img {
    width: 100%;
    height: 100%;
    display: none;
    object-fit: cover;
}
main #about2 #photos img:nth-child(1) {
    display: block;
}
main #about2 > section {
    width: 40%;
    position: relative;
    left: 55%;
    padding: 50px;
    background-image: linear-gradient(#000, #111);
    box-shadow: 0 0 10px 10px #000 inset;
    color: #FFF;
    display: none;
    z-index: 1;
    box-sizing: border-box;
}
main #about3 {
    display: none;
    height: auto;
}
main #about3 .title {
    height: 20vh;
    line-height: 20vh;
    color: #FFF;
    background-image: linear-gradient( #000,#111, #000);
    text-align: center;
}
main #about3 section .header {
    height: 40vh;
    width: 100%;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
main #about3 section .header .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #000;
    opacity: 0.3;
}
main #about3 section .header h2 {
    position: absolute;
    left: 20px;
    bottom: 0;
    color: #FFF;
    text-shadow: 2px 2px #000;
}
main #about3 section .content {
    background-image: linear-gradient(#222, #000);
    color: #FFF;
    padding: 50px 10vw;
}
main #about3 #richcon .header {
    background-image: url(http://localhost/test/wordpress/wp-content/uploads/2019/08/Henck-Richard-Pose1.jpg);
}
main #about3 #henck .header {
    background-image: url(http://localhost/test/wordpress/wp-content/uploads/2019/08/Henck.jpg);
}
main #about3 #richard .header {
    background-image: url(http://localhost/test/wordpress/wp-content/uploads/2019/08/Richard1.jpg);
}
main #about3 #richard .content {
    padding-bottom: 20vh;
}
main #about4 {
    display: none;
    height: auto;
}
main #about4 header {
    height: 70vh;
    width: 100%;
    position: relative;
}
main #about4 header img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
main #about4 header h1 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #FFF;
    text-shadow: 2px 2px #000;
}
main #about4 #about {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
main #about4 #about #richcon {
    float: left;
    flex: 50%;
    flex-shrink: 0;
    height: 100%;
    padding: 50px;
    box-sizing: border-box;
    color: #FFF;
    text-align: left;
}
main #about4 #about #henck {
    flex: 50%;
    flex-shrink: 0;
    height: 50%;
    padding: 20px;
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid #FFF;
    box-shadow: 0 0 5px 0 #FFF inset;
    background-image: radial-gradient(#333, #000);
    color: #FFF;
}
main #about4 #about #henck img {
    width: 15vw;
    height: 15vw;
    object-fit: cover;
    margin: auto;
    border: 1px solid #FFF;
}
main #about4 #about #richard {
    flex: 50%;
    flex-shrink: 0;
    flex-grow: 0;
    align-self: flex-end;
    height: 50%;
    padding: 20px;
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid #FFF;
    box-shadow: 0 0 5px 0 #FFF inset;
    background-image: radial-gradient(#333, #000);
    color: #FFF;
}
main #about4 #about #richard img {
    width: 15vw;
    height: 15vw;
    object-fit: cover;
    margin: auto;
    border: 1px solid #FFF;
}
main #general1 {
    display: block;
    min-height: 100vh;
    background-image: linear-gradient(#000,#333);
    color: #FFF;
}
main #general1 h1 {
    text-align: center;
    padding: 100px 0 0;
}
main #general1 .content {
    width: 100%;
    padding: 50px 25%;
    box-sizing: border-box;
    text-align: center;
}
main #general2 {
    display: none;
    min-height: 100vh;
    background-image: linear-gradient(#000, #333);
    color: #FFF;
}
main #general2 h1 {
    text-align: left;
    padding: 100px 10% 0;
}
main #general2 .content {
    width: 100%;
    padding: 50px 10%;
    box-sizing: border-box;
}
main #general3 {
    display: none;
    min-height: 100vh;
    padding: 10vh 0;
    background-color: #AAA;
}
main #general3 .content {
    width: 80%;
    margin: auto;
    min-height: 60vh;
    background-image: linear-gradient(#000, #333);
    color: #FFF;
    box-shadow: 5px 5px 10px 5px #000;
    box-sizing: border-box;
    padding: 50px;
}
main #general4 {
    display: none;
    min-height: 100vh;
    padding: 10vh 0;
    background-color: #AAA;
}
main #general4 .content {
    width: 50%;
    margin: auto;
    min-height: 60vh;
    background-image: linear-gradient(#000, #333);
    color: #FFF;
    padding: 50px;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px 5px #000;
}
main #blog1 {
    display: block;
    background-image: linear-gradient(#000, #333);
    min-height: 100vh;
}
main #blog1 h1 {
    text-align: center;
    color: #FFF;
    padding: 50px;
}
main #blog1 #blogs {
    width: 80%;
    margin: auto;
}
main #blog1 #blogs .blog {
    border-bottom: 1px solid #FFF;
    display: flex;
    color: #FFF;
    height: 15vh;
}
main #blog1 #blogs .blog .date {
    flex: 15%;
    flex-grow: 0;
    flex-shrink: 0;
}
main #blog1 #blogs .blog .date .day {
    height: 100%;
    width: 50%;
    float: left;
    line-height: 15vh;
    font-size: xx-large;
    text-align: center;
}
main #blog1 #blogs .blog .date .month-year {
    display: inline-block;
    height: 100%;
    width: 50%;
}
main #blog1 #blogs .blog .date .month-year p {
    text-align: center;
    padding-top: 3vh;
    margin: 0;
    font-size: large;
}
main #blog1 #blogs .blog .title {
    flex: 75%;
    flex-grow: 0;
    flex-shrink: 0;
    line-height: 15vh;
}
main #blog1 #blogs .blog .title h2 {
    margin: 0;
    padding-left: 50px;
}
main #blog1 #blogs .blog .link {
    flex: 10%;
    flex-grow: 0;
    flex-shrink: 0;
    line-height: 15vh;
    vertical-align: middle;
    color: #FFF;
}
main #blog1 #blogs .blog .link svg {
    height: 50%;
    width: 100%;
    line-height: 15vh;
    vertical-align: middle;
}
main #blog1 #blogs .blog .link:hover svg {
    color: #BBB;
}
main #blog1 #blogs #nav {
    display: flex;
    padding: 50px;
}
main #blog1 #blogs #nav .page-numbers {
    text-decoration: none;
    color: #FFF;
    flex: 10%;
    font-weight: bold;
    text-align: center;
}
main #blog1 #blogs #nav .page-numbers:hover {
    color: #BBB;
}
main #blog1 #blogs #nav .page-numbers.current {
    color: #555;
}
main #blog1 #social {
    width: 90%;
    margin: auto;
    color: #FFF;
    padding: 50px 0;
}
main #blog1 #social .title {
    text-align: center;
    width: 100%;
}
main #blog1 #social #facebook {
    width: 50%;
    float: left;
    padding: 30px;
    box-sizing: border-box;
}
main #blog1 #social #facebook .item {
    padding: 10px;
    border-bottom: 1px solid #FFF;
    width: 100%;
    height: 11vw;
    box-sizing: border-box;
    overflow: hidden;
}
main #blog1 #social #instagram {
    width: 50%;
    padding: 30px;
    box-sizing: border-box;
    display: inline-block;
}
main #blog1 #social #instagram #posts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
main #blog1 #social #instagram #posts .post {
    flex: 33%;
    height: 11vw;
    display: inline-block;
    padding: 5px;
    box-sizing: border-box;
}
main #blog1 #social #instagram #posts .post img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main #blog2 {
    display: none;
    height: auto;
    min-height: 100vh;
    background-image: linear-gradient(#000, #333);
}
main #blog2 #filters {
    width: 30vw;
    left: 20vw;
    position: fixed;
    top: 20vh;
    color: #FFF;
    text-shadow: 2px 2px #000;
}
main #blog2 #filters h1 {
    padding-bottom: 1x5px;
}
main #blog2 #filters .filter {
    display: block;
    cursor: pointer;
    padding: 10px 0;
    width: min-content;
}
main #blog2 #filters .filter:hover {
    color: #BBB;
}
main #blog2 #blogs {
    width: 50vw;
    position: relative;
    left: 30vw;
    padding: 15vh 0;
    display: flex;
    flex-wrap: wrap;
}
main #blog2 #blogs .blog {
    flex: 33%;
    flex-shrink: 0;
    flex-grow: 0;
    padding: 10px;
    height: 30vh;
    box-sizing: border-box;
    position: relative;
    display: none;
}
main #blog2 #blogs .show {
    display: block;
}
main #blog2 #blogs .blog .wrap {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    box-shadow: 0 0 5px 2px #000;
    text-decoration: none;
}
main #blog2 #blogs .blog .wrap .excerpt {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0 15px;
    box-sizing: border-box;
    background-image: radial-gradient(#333, #111);
    color: #FFF;
}
main #blog2 #blogs .blog .wrap .title {
    height: auto;
    width: -webkit-fill-available;
    position: absolute;
    bottom: 0;
    padding: 10px;
    background-color: #000;
    color: #FFF;
}
main #blog2 #blogs .blog .wrap .title h2 {
    margin: 0;
}
main #blog3 {
    display: none;
    min-height: 100vh;
    background-image: linear-gradient(#000, #333);
}
main #blog3 #title {
    text-align: center;
    color: #FFF;
    padding: 50px;
}
main #blog3 #blogs {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
main #blog3 #blogs .blog {
    position: relative;
    flex: 100%;
    flex-shrink: 0;
    padding: 20px;
    box-sizing: border-box;
    color: #FFF;
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF;
}
main #blog3 #blogs .blog .overlay {
    background-color: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0;
}
main #blog3 #blogs .blog:hover .overlay {
    opacity: 0.1;
}
main #blog3 #blogs .blog .title {
    text-align: left;
    text-shadow: 2px 2px #000;
}
main #blog3 #blogs .blog .date {
    text-align: right;
    padding: 10px;
}
main #blog3 #nav {
    display: flex;
    padding: 50px;
}
main #blog3 #nav .page-numbers {
    text-decoration: none;
    color: #FFF;
    flex: 10%;
    font-weight: bold;
    text-align: center;
}
main #blog3 #nav .page-numbers:hover {
    color: #BBB;
}
main #blog3 #nav .page-numbers.current {
    color: #555;
}
main #blog3 #social {
    width: 80%;
    margin: auto;
    color: #FFF;
}
main #blog3 #social .title {
    text-align: center;
    padding-top: 50px;
    text-shadow: 2px 2px #000;
}
main #blog3 #social #facebook .title {
    text-align: left;
    padding-bottom: 50px;
}
main #blog3 #social #facebook .item {
    width: 100%;
    border-top: 1px solid #FFF;
    padding: 50px 10px;
    position: relative;
}
main #blog3 #social #facebook .item:last-child {
    border-bottom: 1px solid #FFF;
}
main #blog3  #social #facebook .item .overlay {
    background-color: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0;
}
main #blog3  #social #facebook .item .overlay:hover {
    opacity: 0.1;
}
main #blog3 #social #instagram {
    padding-bottom: 50px;
}
main #blog3 #social #instagram .title {
    text-align: left;
    padding: 50px;
}
main #blog3 #social #instagram #posts {
    width: 100%;
    border: 1px solid #FFF;
    display: flex;
    height: 30vh;
}
main #blog3 #social #instagram #posts .post {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 5px;
    position: relative;
}
main #blog3 #social #instagram #posts .post img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
main #blog4 {
    display: none;
    min-height: 100vh;
    background-image: linear-gradient(#000, #333);
}
main #blog4 #title {
    text-align: center;
    color: #FFF;
    padding: 50px;
}
main #blog4 #toggle {
    width: 100%;
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
    color: #FFF;
}
main #blog4 #toggle label {
    padding-right: 10px;
}
main #blog4 #blogs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}
main #blog4 #blogs .blog {
    flex: 25%;
    flex-grow: 0;
    flex-shrink: 0;
    height: 30vh;
    border: 1px solid #FFF;
    box-sizing: border-box;
    position: relative;
    display: block;
}
main #blog4 #blogs .hide {
    display: none;
}
main #blog4 #blogs .blog .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    color: #FFF;
    line-height: 30vh;
    opacity: 1;
    z-index: 1;
    transition: 1s;
    text-align: center;
    text-decoration: none;
}
main #blog4 #blogs .blog .overlay h2 {
    margin: 0;
}
main #blog4 #blogs .blog .overlay:hover {
    opacity: 0;
}
main #blog4 #blogs .blog .date {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px;
    box-sizing: border-box;
    color: #FFF;
    background-color: #000;
    z-index: 2;
}
main #blog4 #blogs .blog .excerpt {
    position: relative;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    background-color: #222;
    color: #FFF;
    overflow: hidden;
    margin: 0;
}