main #blog1 {
    display: block;
    background-image: linear-gradient(#000, #333);
    min-height: 100vh;
}
main #blog1 h1 {
    text-align: center;
    color: #FFF;
    padding: 50px;
}
main #blog1 #blogs {
    width: 80%;
    margin: auto;
}
main #blog1 #blogs .blog {
    border-bottom: 1px solid #FFF;
    display: flex;
    color: #FFF;
    height: 15vh;
}
main #blog1 #blogs .blog .date {
    flex: 15%;
    flex-grow: 0;
    flex-shrink: 0;
}
main #blog1 #blogs .blog .date .day {
    height: 100%;
    width: 50%;
    float: left;
    line-height: 15vh;
    font-size: xx-large;
    text-align: center;
}
main #blog1 #blogs .blog .date .month-year {
    display: inline-block;
    height: 100%;
    width: 50%;
}
main #blog1 #blogs .blog .date .month-year p {
    text-align: center;
    padding-top: 3vh;
    margin: 0;
    font-size: large;
}
main #blog1 #blogs .blog .title {
    flex: 75%;
    flex-grow: 0;
    flex-shrink: 0;
    line-height: 15vh;
}
main #blog1 #blogs .blog .title h2 {
    margin: 0;
    padding-left: 50px;
}
main #blog1 #blogs .blog .link {
    flex: 10%;
    flex-grow: 0;
    flex-shrink: 0;
    line-height: 15vh;
    vertical-align: middle;
    color: #FFF;
}
main #blog1 #blogs .blog .link svg {
    height: 50%;
    width: 100%;
    line-height: 15vh;
    vertical-align: middle;
}
main #blog1 #blogs .blog .link:hover svg {
    color: #BBB;
}
main #blog1 #blogs #nav {
    display: flex;
    padding: 50px;
}
main #blog1 #blogs #nav .page-numbers {
    text-decoration: none;
    color: #FFF;
    flex: 10%;
    font-weight: bold;
    text-align: center;
}
main #blog1 #blogs #nav .page-numbers:hover {
    color: #BBB;
}
main #blog1 #blogs #nav .page-numbers.current {
    color: #555;
}
main #blog1 #social {
    width: 90%;
    margin: auto;
    color: #FFF;
    padding: 50px 0;
}
main #blog1 #social .title {
    text-align: center;
    width: 100%;
}
main #blog1 #social #facebook {
    width: 50%;
    float: left;
    padding: 30px;
    box-sizing: border-box;
}
main #blog1 #social #facebook .item {
    padding: 10px;
    border-bottom: 1px solid #FFF;
    width: 100%;
    height: 11vw;
    box-sizing: border-box;
    overflow: hidden;
}
main #blog1 #social #instagram {
    width: 50%;
    padding: 30px;
    box-sizing: border-box;
    display: inline-block;
}
main #blog1 #social #instagram #posts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
main #blog1 #social #instagram #posts .post {
    flex: 33%;
    height: 11vw;
    display: inline-block;
}
main #blog1 #social #instagram #posts .post img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main #blog2 {
    display: none;
    height: auto;
    min-height: 100vh;
    background-image: linear-gradient(#000, #333);
}
main #blog2 #filters {
    width: 30vw;
    left: 20vw;
    position: fixed;
    top: 20vh;
    color: #FFF;
    text-shadow: 2px 2px #000;
}
main #blog2 #filters h1 {
    padding-bottom: 1x5px;
}
main #blog2 #filters .filter {
    display: block;
    cursor: pointer;
    padding: 10px 0;
    width: min-content;
}
main #blog2 #filters .filter:hover {
    color: #BBB;
}
main #blog2 #blogs {
    width: 50vw;
    position: relative;
    left: 30vw;
    padding: 15vh 0;
    display: flex;
    flex-wrap: wrap;
}
main #blog2 #blogs .blog {
    flex: 33%;
    flex-shrink: 0;
    flex-grow: 0;
    padding: 10px;
    height: 30vh;
    box-sizing: border-box;
    position: relative;
    display: none;
}
main #blog2 #blogs .show {
    display: block;
}
main #blog2 #blogs .blog .wrap {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    box-shadow: 0 0 5px 2px #000;
    text-decoration: none;
}
main #blog2 #blogs .blog .wrap .excerpt {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0 15px;
    box-sizing: border-box;
    background-image: radial-gradient(#333, #111);
    color: #FFF;
}
main #blog2 #blogs .blog .wrap .title {
    height: auto;
    width: -webkit-fill-available;
    position: absolute;
    bottom: 0;
    padding: 10px;
    background-color: #000;
    color: #FFF;
}
main #blog2 #blogs .blog .wrap .title h2 {
    margin: 0;
}
main #blog3 {
    display: none;
    min-height: 100vh;
    background-image: linear-gradient(#000, #333);
}
main #blog3 #title {
    text-align: center;
    color: #FFF;
    padding: 50px;
}
main #blog3 #blogs {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
main #blog3 #blogs .blog {
    position: relative;
    flex: 100%;
    flex-shrink: 0;
    padding: 20px;
    box-sizing: border-box;
    color: #FFF;
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF;
}
main #blog3 #blogs .blog .overlay {
    background-color: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0;
}
main #blog3 #blogs .blog:hover .overlay {
    opacity: 0.1;
}
main #blog3 #blogs .blog .title {
    text-align: left;
    text-shadow: 2px 2px #000;
}
main #blog3 #blogs .blog .date {
    text-align: right;
    padding: 10px;
}
main #blog3 #nav {
    display: flex;
    padding: 50px;
}
main #blog3 #nav .page-numbers {
    text-decoration: none;
    color: #FFF;
    flex: 10%;
    font-weight: bold;
    text-align: center;
}
main #blog3 #nav .page-numbers:hover {
    color: #BBB;
}
main #blog3 #nav .page-numbers.current {
    color: #555;
}
main #blog3 #social {
    width: 80%;
    margin: auto;
    color: #FFF;
}
main #blog3 #social .title {
    text-align: center;
    padding-top: 50px;
    text-shadow: 2px 2px #000;
}
main #blog3 #social #facebook .title {
    text-align: left;
    padding-bottom: 50px;
}
main #blog3 #social #facebook .item {
    width: 100%;
    border-top: 1px solid #FFF;
    padding: 50px 10px;
    position: relative;
}
main #blog3 #social #facebook .item:last-child {
    border-bottom: 1px solid #FFF;
}
main #blog3  #social #facebook .item .overlay {
    background-color: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0;
}
main #blog3  #social #facebook .item .overlay:hover {
    opacity: 0.1;
}
main #blog3 #social #instagram {
    padding-bottom: 50px;
}
main #blog3 #social #instagram .title {
    text-align: left;
    padding: 50px;
}
main #blog3 #social #instagram #posts {
    width: 100%;
    border: 1px solid #FFF;
    display: flex;
    height: 30vh;
}
main #blog3 #social #instagram #posts .post {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 5px;
    position: relative;
}
main #blog3 #social #instagram #posts .post img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
main #blog4 {
    display: none;
    min-height: 100vh;
    background-image: linear-gradient(#000, #333);
}
main #blog4 #title {
    text-align: center;
    color: #FFF;
    padding: 50px;
}
main #blog4 #toggle {
    width: 100%;
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
    color: #FFF;
}
main #blog4 #toggle label {
    padding-right: 10px;
}
main #blog4 #blogs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}
main #blog4 #blogs .blog {
    flex: 25%;
    flex-grow: 0;
    flex-shrink: 0;
    height: 30vh;
    border: 1px solid #FFF;
    box-sizing: border-box;
    position: relative;
    display: block;
}
main #blog4 #blogs .hide {
    display: none;
}
main #blog4 #blogs .blog .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    color: #FFF;
    line-height: 30vh;
    opacity: 1;
    z-index: 1;
    transition: 1s;
    text-align: center;
    text-decoration: none;
}
main #blog4 #blogs .blog .overlay h2 {
    margin: 0;
}
main #blog4 #blogs .blog .overlay:hover {
    opacity: 0;
}
main #blog4 #blogs .blog .date {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px;
    box-sizing: border-box;
    color: #FFF;
    background-color: #000;
    z-index: 2;
}
main #blog4 #blogs .blog .excerpt {
    position: relative;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    background-color: #222;
    color: #FFF;
    overflow: hidden;
    margin: 0;
}