main #general1 {
    display: block;
    min-height: 100vh;
    background-image: linear-gradient(#000,#333);
    color: #FFF;
}
main #general1 h1 {
    text-align: center;
    padding: 100px 0 0;
}
main #general1 .content {
    width: 100%;
    padding: 50px 25%;
    box-sizing: border-box;
    text-align: center;
}
main #general2 {
    display: none;
    min-height: 100vh;
    background-image: linear-gradient(#000, #333);
    color: #FFF;
}
main #general2 h1 {
    text-align: left;
    padding: 100px 10% 0;
}
main #general2 .content {
    width: 100%;
    padding: 50px 10%;
    box-sizing: border-box;
}
main #general3 {
    display: none;
    min-height: 100vh;
    padding: 10vh 0;
    background-color: #AAA;
}
main #general3 .content {
    width: 80%;
    margin: auto;
    min-height: 60vh;
    background-image: linear-gradient(#000, #333);
    color: #FFF;
    box-shadow: 5px 5px 10px 5px #000;
    box-sizing: border-box;
    padding: 50px;
}
main #general4 {
    display: none;
    min-height: 100vh;
    padding: 10vh 0;
    background-color: #AAA;
}
main #general4 .content {
    width: 50%;
    margin: auto;
    min-height: 60vh;
    background-image: linear-gradient(#000, #333);
    color: #FFF;
    padding: 50px;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px 5px #000;
}