body {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, a, p, span {
    font-family: "Open Sans",Arial,sans-serif;
}
h1 {
    margin: 0!important;
}
#nav-position-toggler {
    position: fixed;
    bottom: 5px;
    right: 5px;
    height: 25px;
    width: 25px;
    background-color: #444;
    opacity: 0.1;
    transition: 1s;
    z-index: 10;
}
#nav-position-toggler:hover {
    opacity: 1;
}
.menu-item a {
    color: #FFF;
    text-decoration: none;
}
.menu-item a:hover {
    color: #BBB;
}
#top {
    background-color: #000;
    width: 100%;
    height: auto;
    display: none;
    position: fixed;
    z-index: 10;
}
#top img {

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#top .top-center-menu {
    display: block;
}
#top .top-center-menu img {
    width: 10%;
    object-fit: contain;
    height: auto;
    position: absolute;
    top: 0;
    background-image: radial-gradient(#333, #000);
    box-shadow: 0 0 8px 8px #222;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    box-sizing: border-box;
}
#top .top-center-menu .menu {
    height: 5vh;
    padding: 0;
}
#top .top-center-menu .menu .menu-item {
    display: inline-block;
    width: 15%;
    line-height: 5vh;
    text-align: center;
}
#top .top-menu {
    display: block;
    height: 8vh;
    background-image: linear-gradient(#000, #555);
}
#top .top-menu img {
    width: 20%;
    object-fit: contain;
    height: 6vh;
    padding-top: 1vh;
    padding-left: 1vh;
    box-sizing: border-box;
}
#top .top-menu .menu {
    width: 80%;
    float: right;
    height: 8vh;
    margin: 0!important;
    padding-inline-start: 0;
}
#top .top-menu .menu .menu-item {
    display: inline-block;
    width: 16%;
    line-height: 8vh;
    text-align: center;
    transition: 0.5s;
}
#top .top-menu .menu .menu-item:hover {
    border-bottom: 3px solid #FFF;
}
#top .top-menu .menu .current-menu-item {
    border-bottom: 3px solid #FFF;
}
#side {
    background-color: #000;
    width: auto;
    height: 100vh;
    display: block;
    position: fixed;
    z-index: 10;
}
#side img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#side .side-menu {
    width: 15vw;
    height: 100%;
    position: relative;

}
#side .side-menu img {
    width: 90%;
    height: auto;
    object-fit: contain;
    margin: 50px 5%;
}
#side .side-menu span {
    height: 2px;
    background-color: #FFF;
    width: 100%;
    display: inline-block;
}
#side .side-menu .menu {
    background-image: linear-gradient(#111, #222, #111);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 0 5px 5px #111 inset;
}
#side .side-menu .menu .menu-item {
    vertical-align: middle;
    list-style: none;
    line-height: 10vh
}
#side .side-menu .social-icons {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5vh;
    border-top: 2px solid #FFF;
    display: flex;
    background-color: #000;
}
#side .side-menu .social-icons a {
    color: #FFF;
    flex: 30%;
}
#side .side-menu .social-icons a:hover {
    color: #BBB;
}
#side .side-menu .social-icons a svg {
    width: 100%;
    padding-top: 1vh;
    height: 3vh;
}
#side .small-side-menu {
    width: 7vw;
    height: 100%;
    position: relative;
}
#side .small-side-menu img {
    width: 70%;
    height: auto;
    object-fit: contain;
    margin: 20px 15%;
}
#side .small-side-menu .nav-expander {
    width: 100%;
    height: 7vw;
    padding: 25%;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
}
#side .small-side-menu span {
    width: 100%;
    height: 0.5vw;
    margin-bottom: 2.25vw;
    background-color: #FFF;
    display: inline-block;
    transition: 1s;
    position: relative;
}
#side .small-side-menu .nav-expander:hover span:nth-child(1) {
    background-color: #BBB;
    transform: translateY(1.5vw) rotate(45deg) ;
}
#side .small-side-menu .nav-expander:hover span:nth-child(2) {
    background-color: #BBB;
    transform: translateY(-1.5vw) rotate(-45deg) ;
}
#side .small-side-menu .menu {
    background-image: linear-gradient(#111, #222, #111);
    width: 0;
    height: 100vh;
    position: absolute;
    left: 7vw;
    top: 0;
    overflow: hidden;
    margin: 0;
    padding: 2vh 0;
    transition: 1s;
    box-sizing: border-box;
    box-shadow: 0 0 5px 5px #111 inset;
}
#side .small-side-menu .menu .menu-item {
    vertical-align: middle;
    line-height: 16vh;
    list-style: none;
}
#side .small-side-menu .social-icons {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5vh;
    border-top: 2px solid #FFF;
    display: flex;
}
#side .small-side-menu .social-icons a {
    color: #FFF;
    flex: 30%;
}
#side .small-side-menu .social-icons a:hover {
    color: #BBB;
}
#side .small-side-menu .social-icons a svg {
    width: 100%;
    padding-top: 10px;
}
main {
    height: auto;
    width: 100%;
    box-sizing: border-box;
    padding: 0 0 0 15vw;
    position: relative;
}
main input[type="range"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.01;
    transition: 1s;
    z-index: 10;
}
main input[type="range"]:hover {
    opacity: 0.5;
}
main #loadscreentoggle {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    opacity: 0.05;
    transition: 0.5s;
}
main #loadscreentoggle:hover {
    opacity: 0.5;
}
main #loadscreen {
    height: 100vh;
    width: 100%;
    line-height: 100vh;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    opacity: 1;
    z-index: 20;
    background-color: #000;
    transition: 2s;
    transition-timing-function: linear;
}
main #loadscreen img {
    width: 50%;
    vertical-align: middle;
}
main #main1 {
    text-align: center;
    background-color: #111;
    color: #FFF;
    height: 100vh;
    line-height: 100vh;
    transition: 3s;
    position: relative;
}
main #main1 img {
    width: 0%;
    vertical-align: middle;
    transition: 3s;
    z-index: 2;
    position: relative;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
main #main1 #gradient-overlay {
    height: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(#111, #333);
    transition: 3s;
    z-index: 0;
}
main #main2 {
    display: none;
    text-align: center;
    color: #FFF;
    height: 100vh;
    position: relative;
}
main #main2 > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main #main2 #gradient-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    top: 0;
    background-color: #222;
    opacity: 1;
    transition: 3s;
}
main #main2 #logo {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2.5vw;
    background-color: #000;
    opacity: 0.8;
}
main #main2 #logo img {
    width: 20vw;
    height: auto;
}
main #main3 {
    display: none;
    text-align: center;
    color: #FFF;
    height: 100vh;
    line-height: 100vh;
    position: relative;
    overflow: hidden;
}
main #main3 > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    transition: 5s;
    left: 0;
}
main #main3 #gradient-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    top: 0;
    background-color: #222;
    opacity: 0.6;
}
main #main3 #header {
    width: auto;
    height: 30vh;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
main #main3 #header .wrap {
    height: 200%;
    top: 0;
    position: relative;
    transition: 1.5s;
}
main #main3 #header img {
    top: 0;
    height: 50%;
    width: auto;
    object-fit: contain;
    float: left;
}
main #main3 #header h1 {
    height: 50%;
    line-height: 30vh;
    font-size: 2rem;
    color: #FFF;
    position: relative;
}
main #main4 {
    display: none;
    text-align: center;
    background-image: radial-gradient(#333, #111);
    box-shadow: 0 0 30px 10px inset #000;
    color: #FFF;
    height: 100vh;
    line-height: 100vh;
}
main #main4 img {
    width: 50%;
    height: auto;
    line-height: 100vh;
    vertical-align: middle;
}
main #main4 #gradient-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    background-color: #000;
    transition: 3s;
}
main #about1 {
    display: block;
    height: auto;
    padding: 50px;
    background-image: linear-gradient(#222, #000);
    color: #FFF;
}
main #about1 .title {
    text-align: center;
    padding: 5vh;
    text-shadow: 3px 3px #000;
}
main #about1 #richcon {
    width: 100%;
    clear: both;
    overflow: auto;
}
main #about1 #richcon #photo {
    float: left;
    width: 50%;
    padding: 0 5%;
    box-sizing: border-box;
    object-fit: contain;
}
main #about1 #richcon #photo img {
    width: 100%;
    border: 1px solid #FFF;
}
main #about1 #henck {
    clear: left;
    float: left;
    width: 50%;
    padding: 5%;
    box-sizing: border-box;
    text-align: right;
}
main #about1 #henck #photo {
    width: 50%;
    float: left;
    padding: 0 5%;
    box-sizing: border-box;
    object-fit: contain;
}
main #about1 #henck #photo img {
    width: 100%;
    border: 1px solid #FFF;
}
main #about1 #richard {
    display: inline-block;
    width: 50%;
    padding: 5%;
    box-sizing: border-box;
}
main #about1 #richard #photo {
    width: 50%;
    float: right;
    padding: 0 5%;
    box-sizing: border-box;
    object-fit: contain;
}
main #about1 #richard #photo img {
    width: 100%;
    border: 1px solid #FFF;
}
main #about2 {
    display: none;
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 100px;
    box-sizing: border-box;
}
main #about2 #header {
    position: fixed;
    height: 50%;
    top: 25%;
    width: 20vw;
    left: 20vw;
    z-index: 1;
    color: #FFF;
    text-shadow: 2px 2px #000;
}
main #about2 #header a {
    display: block;
    text-decoration: none;
    line-height: 5vh;
    color: #FFF;
    cursor: pointer;
}
main #about2 #header a:hover {
    color: #BBB;
}
main #about2 #photos {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
    overflow: hidden;
}
main #about2 #photos img {
    width: 100%;
    height: 100%;
    display: none;
    object-fit: cover;
}
main #about2 #photos img:nth-child(1) {
    display: block;
}
main #about2 > section {
    width: 40%;
    position: relative;
    left: 55%;
    padding: 50px;
    background-image: linear-gradient(#000, #111);
    box-shadow: 0 0 10px 10px #000 inset;
    color: #FFF;
    display: none;
    z-index: 1;
    box-sizing: border-box;
}
main #about3 {
    display: none;
    height: auto;
}
main #about3 .title {
    height: 20vh;
    line-height: 20vh;
    color: #FFF;
    background-image: linear-gradient( #000,#111, #000);
    text-align: center;
}
main #about3 section .header {
    height: 40vh;
    width: 100%;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
main #about3 section .header .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #000;
    opacity: 0.3;
}
main #about3 section .header h2 {
    position: absolute;
    left: 20px;
    bottom: 0;
    color: #FFF;
    text-shadow: 2px 2px #000;
}
main #about3 section .content {
    background-image: linear-gradient(#222, #000);
    color: #FFF;
    padding: 50px 10vw;
}
main #about3 #richcon .header {
    background-image: url(http://localhost/test/wordpress/wp-content/uploads/2019/08/Henck-Richard-Pose1.jpg);
}
main #about3 #henck .header {
    background-image: url(http://localhost/test/wordpress/wp-content/uploads/2019/08/Henck.jpg);
}
main #about3 #richard .header {
    background-image: url(http://localhost/test/wordpress/wp-content/uploads/2019/08/Richard1.jpg);
}
main #about3 #richard .content {
    padding-bottom: 20vh;
}
main #about4 {
    display: none;
    height: auto;
}
main #about4 header {
    height: 70vh;
    width: 100%;
    position: relative;
}
main #about4 header img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
main #about4 header h1 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #FFF;
    text-shadow: 2px 2px #000;
}
main #about4 #about {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
main #about4 #about #richcon {
    float: left;
    flex: 50%;
    flex-shrink: 0;
    height: 100%;
    padding: 50px;
    box-sizing: border-box;
    color: #FFF;
    text-align: left;
}
main #about4 #about #henck {
    flex: 50%;
    flex-shrink: 0;
    height: 50%;
    padding: 20px;
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid #FFF;
    box-shadow: 0 0 5px 0 #FFF inset;
    background-image: radial-gradient(#333, #000);
    color: #FFF;
}
main #about4 #about #henck img {
    width: 15vw;
    height: 15vw;
    object-fit: cover;
    margin: auto;
    border: 1px solid #FFF;
}
main #about4 #about #richard {
    flex: 50%;
    flex-shrink: 0;
    flex-grow: 0;
    align-self: flex-end;
    height: 50%;
    padding: 20px;
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid #FFF;
    box-shadow: 0 0 5px 0 #FFF inset;
    background-image: radial-gradient(#333, #000);
    color: #FFF;
}
main #about4 #about #richard img {
    width: 15vw;
    height: 15vw;
    object-fit: cover;
    margin: auto;
    border: 1px solid #FFF;
}
main #film1 {
    display: block;
    position: relative;
    background-image: radial-gradient(#000, #222);
    height: 100vh;
}
main #film1  .title {
    line-height: 20vh;
    height: 20vh;
    top: 10vh;
    text-align: center;
    color: #FFF;
}
main #film1 #main-box {
    width: 80%;
    height: 60vh;
    position: relative;
    display: flex;
    left: 10%;
    box-shadow: 0 0 10px 5px #050505;
    background-image: linear-gradient(to right, #111, #333);
}
main #film1 #main-box #filters {
    height: 100%;
    width: 20%;
    display: inline-block;
    left: 0;
    position: relative;
    background-color: #000;
    color: #FFF;
}
main #film1 #main-box #filters .filter {
    width: 100%;
    height: 12vh;
    line-height: 12vh;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
main #film1 #main-box #filters .filter:hover {
    color: #BBB;
}
main #film1 #main-box #films {
    width: 80%;
    height: 100%;
    display: inline-flex;
    overflow: auto;
    flex-wrap: wrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
main #film1 #main-box #films::-webkit-scrollbar {
    display: none;
}
main #film1 #main-box #films .film {
    flex: 50%;
    flex-shrink: 0;
    flex-grow: 0;
    padding: 10px;
    box-sizing: border-box;
    color: #FFF;
    display: none;
}
main #film1 #main-box #films .show {
    display: block;
}
main #film1 #main-box #films .film h2 {
    text-shadow: 2px 2px #000;
}
main #film1 #main-box #films .film img {
    height: auto;
    width: 100%;
    object-fit: cover;
    border: 1px solid #FFF;
}
main #film2 {
    display: none;
    min-height: 100vh;
    padding: 100px 0;
    box-sizing: border-box;
    background-image: linear-gradient(#000, #222);
}
main #film2 #header {
    position: fixed;
    height: 50%;
    top: 25%;
    width: 20vw;
    left: 20vw;
    z-index: 1;
    color: #FFF;
    text-shadow: 2px 2px #000;
}
main #film2 #header a {
    display: block;
    text-decoration: none;
    line-height: 5vh;
    color: #FFF;
    cursor: pointer;
}
main #film2 #header a:hover {
    color: #BBB;
}
main #film2 #films {
    width: 50vw;
    left: 30vw;
    top: 15%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
main #film2 #films .show {
    display: block!important;
}
main #film2 #films .film {
    flex: 33%;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    padding: 5px;
    box-sizing: border-box;
    display: none;
}
main #film2 #films .film .wrap {
    height: 100%;
    width: 100%;
    position: relative;
}
main #film2 #films .film img {
    height: 100%;
    width: 100%;
    position: relative;
    object-fit: cover;
}
main #film2 #films .film .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    background-color: #000;
    color: #FFF;
    opacity: 0;
    transition: 0.5s;
}
main #film2 #films .film .overlay:hover {
    opacity: 0.9;
}
main #film3 {
    display: none;
    width: 100%;
    overflow: hidden;
    background-image: linear-gradient(to right, #000, #222);
}
main #film3 .title {
    text-align: center;
    color: #FFF;
    padding: 50px 0 0 0;
    text-shadow: 2px 2px #000;
}
main #film3 #intro {
    padding: 50px;
    text-align: center;
    color: #FFF;
}
main #film3 .films {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 20vh;
}
main #film3 .films .film {
    display: inline-block;
    width: 25%;
    height: 100%;
    flex-shrink: 0;
    position: relative;
    left: 0;
    transition: 4s;
    transition-timing-function: linear;
}
main #film3 .films .film .wrap {
    height: 100%;
    width: 100%;
    position: relative;
}
main #film3 .films .film img {
    height: 100%;
    width: 100%;
    position: relative;
    object-fit: cover;
}
main #film3 .films .film .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    background-color: #000;
    color: #FFF;
    opacity: 0;
    transition: 0.5s;
}
main #film3 .films .film .overlay:hover {
    opacity: 0.9;
}
main #film4 {
    display: none;
    min-height: 100vh;
    background-image: linear-gradient(#000, #222);
}
main #film4 .title {
    text-align: center;
    color: #FFF;
    padding: 50px;
}
main #film4 #toggle {
    width: 100%;
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
}
main #film4 #toggle label {
    color: #FFF;
    padding-right: 10px;
}
main #film4 #films {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
main #film4 #films .show {
    display: block!important;
}
main #film4 #films .film {
    flex: 25%;
    flex-grow: 0;
    height: auto;
    border: 1px solid #FFF;
    box-sizing: border-box;
    position: relative;
    display: none;
}
main #film4 #films .film img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main #film4 #films .film .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    color: #FFF;
    text-shadow: 5px 5px 5px #000;
    vertical-align: baseline;
    transition: 0.5s;
}
main #film4 #films .film .overlay h2 {
    display: inline;
    position: absolute;
    bottom: 0;
    left: 10px;
}
main #film4 #films .film .overlay p {
    display: none;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 10px;
    text-align: center;
}
main #film4 #films .film .overlay:hover {
    background-color: #000;
    opacity: 0.8;
}
main #film4 #films .film .overlay:hover p {
    display: inline;
}
main #clients1 {
    display: block;
    background-image: linear-gradient(#000, #222);
    min-height: 100vh;
}
main #clients1 .title {
    text-align: center;
    color: #FFF;
    padding: 50px;
}
main #clients1 #toggler {
    width: 100%;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
}
main #clients1 #toggler .toggle {
    flex: 20%;
    background-image: radial-gradient(#FFF, #BBB);
    box-shadow: 0 0 5px 5px #999 inset;
    color: #000;
    border: 1px solid #000;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
}
main #clients1 #toggler .toggle:hover {
    background-image: radial-gradient(#DDD, #999);
}
main #clients1 #clients {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
main #clients1 #clients .client {
    flex: 20%;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 10px;
    box-sizing: border-box;
    height: auto;
    display: none;
}
main #clients1 #clients .show {
    display: block!important;
}
main #clients1 #clients .client .wrap {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    box-shadow: 0 0 5px 5px #050505;
    background-color: #000;
}
main #clients1 #clients .client .wrap img {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
}
main #clients1 #clients .client .wrap .info {
    position: relative;
    width: 100%;
    background-color: #000;
    color: #FFF;
    box-sizing: border-box;
    padding: 10px;
}
main #clients1 #clients .client .wrap h2 {
    display: inline-block;
    margin: 0;
    padding-right: 10px;
}
main #clients1 #clients .client .wrap p {
    display: inline-block;
    opacity: 0;
    margin: 0;
    padding: 5px 0;
    transition: 0.5s;
}
main #clients1 #clients .client:hover .wrap p {
    opacity: 1;
}
main #clients2 {
    display: none;
    min-height: 100vh;
    background-image: linear-gradient(#000, #333);
}
main #clients2 #toggler {
    position: fixed;
    height: 50%;
    top: 25%;
    width: 20vw;
    left: 20vw;
    z-index: 1;
    color: #FFF;
    text-shadow: 2px 2px #000;
}
main #clients2 #toggler .toggle {
    display: block;
    height: 30px;
    position: relative;
    padding: 5px;
    box-sizing: border-box;
    left: -40px;
}
main #clients2 #toggler .toggle input {
    width: 20px;
    vertical-align: middle;
    height: 20px;
    position: relative;
    margin: 3px 8px;
    cursor: pointer;
}
main #clients2 #toggler .toggle label {
    line-height: 20px;
    vertical-align: middle;
}
main #clients2 #toggler .toggle input:checked ~ .check {
    display: block;
}
main #clients2 #toggler .toggle .check {
    height: 18px;
    width: 18px;
    background-color: #000;
    position: absolute;
    left: 14px;
    top: 9px;
    display: none;
    pointer-events: none;
}
main #clients2 #clients {
    width: 50vw;
    left: 30vw;
    padding: 100px 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
main #clients2 #clients .client {
    flex: 33%;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
    display: none;
}
main #clients2 #clients .show {
    display: block;
}
main #clients2 #clients .client .wrap {
    width: 100%;
    height: 100%;
    position: relative;
}
main #clients2 #clients .client .wrap img {
    height: 100%;
    width: 100%;
    position: relative;
    object-fit: cover;
}
main #clients2 #clients .client .wrap .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    color: #FFF;
    opacity: 0;
    transition: 0.8s;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    font-size: 0%;
    padding: 50%;
}
main #clients2 #clients .client:hover .overlay {
    opacity: 0.9;
    font-size: 100%;
    padding: 60px;
}
main #clients3 {
    display: none;
    background-image: linear-gradient(to right, #000, #333);
}
main #clients3 .title {
    text-align: center;
    color: #FFF;
    text-shadow: 2px 2px #000;
    padding: 50px 0 0 0;
}
main #clients3 .filter {
    text-align: left;
    color: #FFF;
    padding: 50px;
}
main #clients3 section {
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
    max-height: 30vh;
}
main #clients3 section article {
    height: 100%;
    flex: 25%;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    transition: 4s;
    transition-timing-function: linear;
    border: 1px solid #000;
    box-sizing: border-box;
}
main #clients3 section article img {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
main #clients3 section article .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0;
    color: #FFF;
    padding: 50px;
    box-sizing: border-box;
    transition: 1s;
    text-align: center;
}
main #clients3 section article:hover .overlay {
    opacity: 0.95;
}
main #clients4 {
    display: none;
    min-height: 100vh;
    background-image: linear-gradient(#000, #333);
}
main #clients4 .title {
    color: #FFF;
    text-align: center;
    padding: 50px;
}
main #clients4 #toggle {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: right;
    color: #FFF;
}
main #clients4 #toggle label {
    padding-right: 10px;
}
main #clients4 #clients {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
main #clients4 #clients .client {
    flex: 25%;
    height: auto;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    border: 1px solid #000;
    box-sizing: border-box;
    display: none;
}
main #clients4 #clients .show {
    display: block;
}
main #clients4 #clients .client img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
}
main #clients4 #clients .client .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 80%;
    left: 0;
    background-color: #000;
    color: #FFF;
    opacity: 0.9;
    transition: 1s;
    padding: 0 20px;
    box-sizing: border-box;
}
main #clients4 #clients .client:hover .overlay {
    top: 0;
}
main #blog1 {
    display: block;
    background-image: linear-gradient(#000, #333);
    min-height: 100vh;
}
main #blog1 h1 {
    text-align: center;
    color: #FFF;
    padding: 50px;
}
main #blog1 #blogs {
    width: 80%;
    margin: auto;
}
main #blog1 #blogs .blog {
    border-bottom: 1px solid #FFF;
    display: flex;
    color: #FFF;
    height: 15vh;
}
main #blog1 #blogs .blog .date {
    flex: 15%;
    flex-grow: 0;
    flex-shrink: 0;
}
main #blog1 #blogs .blog .date .day {
    height: 100%;
    width: 50%;
    float: left;
    line-height: 15vh;
    font-size: xx-large;
    text-align: center;
}
main #blog1 #blogs .blog .date .month-year {
    display: inline-block;
    height: 100%;
    width: 50%;
}
main #blog1 #blogs .blog .date .month-year p {
    text-align: center;
    padding-top: 3vh;
    margin: 0;
    font-size: large;
}
main #blog1 #blogs .blog .title {
    flex: 75%;
    flex-grow: 0;
    flex-shrink: 0;
    line-height: 15vh;
}
main #blog1 #blogs .blog .title h2 {
    margin: 0;
    padding-left: 50px;
}
main #blog1 #blogs .blog .link {
    flex: 10%;
    flex-grow: 0;
    flex-shrink: 0;
    line-height: 15vh;
    vertical-align: middle;
    color: #FFF;
}
main #blog1 #blogs .blog .link svg {
    height: 50%;
    width: 100%;
    line-height: 15vh;
    vertical-align: middle;
}
main #blog1 #blogs .blog .link:hover svg {
    color: #BBB;
}
main #blog1 #blogs #nav {
    display: flex;
    padding: 50px;
}
main #blog1 #blogs #nav .page-numbers {
    text-decoration: none;
    color: #FFF;
    flex: 10%;
    font-weight: bold;
    text-align: center;
}
main #blog1 #blogs #nav .page-numbers:hover {
    color: #BBB;
}
main #blog1 #blogs #nav .page-numbers.current {
    color: #555;
}
main #blog1 #social {
    width: 90%;
    margin: auto;
    color: #FFF;
    padding: 50px 0;
}
main #blog1 #social .title {
    text-align: center;
    width: 100%;
}
main #blog1 #social #facebook {
    width: 50%;
    float: left;
    padding: 30px;
    box-sizing: border-box;
}
main #blog1 #social #facebook .item {
    padding: 10px;
    border-bottom: 1px solid #FFF;
    width: 100%;
    height: 11vw;
    box-sizing: border-box;
    overflow: hidden;
}
main #blog1 #social #instagram {
    width: 50%;
    padding: 30px;
    box-sizing: border-box;
    display: inline-block;
}
main #blog1 #social #instagram #posts {
    width: 100%;
}
main #blog1 #social #instagram #posts .post {
    width: 11vw;
    height: 11vw;
    display: inline-block;
}
main #blog1 #social #instagram #posts .post img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main #blog2 {
    display: none;
    height: auto;
    min-height: 100vh;
    background-image: linear-gradient(#000, #333);
}
main #blog2 #filters {
    width: 30vw;
    left: 20vw;
    position: fixed;
    top: 20vh;
    color: #FFF;
    text-shadow: 2px 2px #000;
}
main #blog2 #filters h1 {
    padding-bottom: 1x5px;
}
main #blog2 #filters .filter {
    display: block;
    cursor: pointer;
    padding: 10px 0;
    width: min-content;
}
main #blog2 #filters .filter:hover {
    color: #BBB;
}
main #blog2 #blogs {
    width: 50vw;
    position: relative;
    left: 30vw;
    padding: 15vh 0;
    display: flex;
    flex-wrap: wrap;
}
main #blog2 #blogs .blog {
    flex: 33%;
    flex-shrink: 0;
    flex-grow: 0;
    padding: 10px;
    height: 30vh;
    box-sizing: border-box;
    position: relative;
    display: none;
}
main #blog2 #blogs .show {
    display: block;
}
main #blog2 #blogs .blog .wrap {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    box-shadow: 0 0 5px 2px #000;
    text-decoration: none;
}
main #blog2 #blogs .blog .wrap .excerpt {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0 15px;
    box-sizing: border-box;
    background-image: radial-gradient(#333, #111);
    color: #FFF;
}
main #blog2 #blogs .blog .wrap .title {
    height: auto;
    width: -webkit-fill-available;
    position: absolute;
    bottom: 0;
    padding: 10px;
    background-color: #000;
    color: #FFF;
}
main #blog2 #blogs .blog .wrap .title h2 {
    margin: 0;
}
main #blog3 {
    display: none;
    min-height: 100vh;
    background-image: linear-gradient(#000, #333);
}
main #blog3 #title {
    text-align: center;
    color: #FFF;
    padding: 50px;
}
main #blog3 #blogs {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
main #blog3 #blogs .blog {
    position: relative;
    flex: 100%;
    flex-shrink: 0;
    padding: 20px;
    box-sizing: border-box;
    color: #FFF;
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF;
}
main #blog3 #blogs .blog .overlay {
    background-color: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0;
}
main #blog3 #blogs .blog:hover .overlay {
    opacity: 0.1;
}
main #blog3 #blogs .blog .title {
    text-align: left;
    text-shadow: 2px 2px #000;
}
main #blog3 #blogs .blog .date {
    text-align: right;
    padding: 10px;
}
main #blog3 #nav {
    display: flex;
    padding: 50px;
}
main #blog3 #nav .page-numbers {
    text-decoration: none;
    color: #FFF;
    flex: 10%;
    font-weight: bold;
    text-align: center;
}
main #blog3 #nav .page-numbers:hover {
    color: #BBB;
}
main #blog3 #nav .page-numbers.current {
    color: #555;
}
main #blog3 #social {
    width: 80%;
    margin: auto;
    color: #FFF;
}
main #blog3 #social .title {
    text-align: center;
    padding-top: 50px;
    text-shadow: 2px 2px #000;
}
main #blog3 #social #facebook .title {
    text-align: left;
    padding-bottom: 50px;
}
main #blog3 #social #facebook .item {
    width: 100%;
    border-top: 1px solid #FFF;
    padding: 50px 10px;
    position: relative;
}
main #blog3 #social #facebook .item:last-child {
    border-bottom: 1px solid #FFF;
}
main #blog3  #social #facebook .item .overlay {
    background-color: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0;
}
main #blog3  #social #facebook .item .overlay:hover {
    opacity: 0.1;
}
main #blog3 #social #instagram {
    padding-bottom: 50px;
}
main #blog3 #social #instagram .title {
    text-align: left;
    padding: 50px;
}
main #blog3 #social #instagram #posts {
    width: 100%;
    border: 1px solid #FFF;
    display: flex;
    height: 30vh;
}
main #blog3 #social #instagram #posts .post {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 5px;
    position: relative;
}
main #blog3 #social #instagram #posts .post img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
main #blog4 {
    display: none;
    min-height: 100vh;
    background-image: linear-gradient(#000, #333);
}
main #blog4 #title {
    text-align: center;
    color: #FFF;
    padding: 50px;
}
main #blog4 #toggle {
    width: 100%;
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
    color: #FFF;
}
main #blog4 #toggle label {
    padding-right: 10px;
}
main #blog4 #blogs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}
main #blog4 #blogs .blog {
    flex: 25%;
    flex-grow: 0;
    flex-shrink: 0;
    height: 30vh;
    border: 1px solid #FFF;
    box-sizing: border-box;
    position: relative;
    display: block;
}
main #blog4 #blogs .hide {
    display: none;
}
main #blog4 #blogs .blog .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    color: #FFF;
    line-height: 30vh;
    opacity: 1;
    z-index: 1;
    transition: 1s;
    text-align: center;
    text-decoration: none;
}
main #blog4 #blogs .blog .overlay h2 {
    margin: 0;
}
main #blog4 #blogs .blog .overlay:hover {
    opacity: 0;
}
main #blog4 #blogs .blog .date {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px;
    box-sizing: border-box;
    color: #FFF;
    background-color: #000;
    z-index: 2;
}
main #blog4 #blogs .blog .excerpt {
    position: relative;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    background-color: #222;
    color: #FFF;
    overflow: hidden;
    margin: 0;
}
main #contact1 {
    display: block;
    min-height: 100vh;
    background-image: linear-gradient(#000, #333);
}
main #contact1 .title {
    text-align: center;
    color: #FFF;
    padding-top: 50px;
}
main #contact1 #contacts {
    width: 50%;
    float: left;
    padding: 50px 200px;
    box-sizing: border-box;
    color: #FFF;
}
main #contact1 h2 {
    text-shadow: 2px 2px #000;
}
main #contact1 #contacts a {
    display: block;
    text-decoration: none;
    color: #FFF;
    line-height: 30px;
    width: max-content;
}
main #contact1 #contacts a:hover {
    color: #BBB;
}
main #contact1 #form {
    padding: 50px 50px 0 0;
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    color: #FFF;
}
main #contact1 #form form *:not([type="submit"]) {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 20px;
    box-sizing: border-box;
    border: 3px inset #BBB;
}
main #contact1 #form form *:not([type="submit"]):hover {
    background-color: #DDD;
}
main #contact1 #form form *:not([type="submit"]):focus {
    background-color: #BBB;
    outline: 3px solid #444;
}
main #contact1 #form form textarea {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 20vh;
}
main #contact1 #form form input[type="submit"] {
    padding: 10px;
    border: 2px outset #BBB;
    border-radius: 5px;
    cursor: pointer;
    background-color: #FFF;
    outline: none;
}
main #contact1 #form form input[type="submit"]:hover {
    background-color: #DDD;
}
main #contact1 #form form input[type="submit"]:active {
    outline: none;
    background-color: #BBB;
    border: 2px inset #AAA;
}
main #contact2 {
    display: none;
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 100px;
    box-sizing: border-box;
    background-image: linear-gradient(#000, #333);
}
main #contact2 #header {
    position: fixed;
    height: 50%;
    top: 25%;
    width: 20vw;
    left: 20vw;
    z-index: 1;
    color: #FFF;
    text-shadow: 2px 2px #000;
}
main #contact2 #header h1 {
    padding: 10px 0;
}
main #contact2 #header a {
    display: block;
    text-decoration: none;
    line-height: 5vh;
    color: #FFF;
    cursor: pointer;
    width: max-content;
}
main #contact2 #header a:hover {
    color: #BBB;
}
main #contact2 #contacts > section {
    width: 40%;
    position: relative;
    left: 55%;
    padding: 50px;
    background-image: radial-gradient(#333, #000);
    box-shadow: 0 0 10px 10px #000 inset;
    color: #FFF;
    z-index: 1;
    box-sizing: border-box;
    display: none;
}
main #contact2 #contacts .show {
    display: block;
}
main #contact2 #contacts > section div {
    width: 100%;
}
main #contact2 #contacts > section a{
    text-align: right;
    width: 80%;
    display: inline-block;
    line-height: 10vh;
}
main #contact2 #contacts > section div svg {
    font-size: 5vh;
    text-align: left;
    display: inline-block;
    width: 20%;
    position: relative;
    top: 2.5vh;
    vertical-align: top;
}
main #contact2 #contacts #comment form *:not([type="submit"]) {
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}
main #contact2 #contacts #comment form label {
    padding: 20px 0 !important;
}
main #contact2 #contacts #comment form textarea {
    min-height: 20vh;
}
main #contact2 #contacts #comment form input[type="submit"] {
    margin: 10px 0;
    padding: 5px 10px;
}
main #contact2 #contacts #comment form input[type="submit"]:active {
    background-image: linear-gradient(#555, #BBB);
    outline: none;
}
main #contact3 {
    display: none;
    min-height: 100vh;
    color: #FFF;
    background-image: linear-gradient(#000, #333);
}
main #contact3 h1 {
    text-align: center;
    padding: 50px 0 0 0;
}
main #contact3 section .title {
    text-align: left;
    padding: 50px 10%;;
    text-shadow: 2px 2px #000;
}
main #contact3 section .contacts {
    display: flex;
    width: 80%;
    margin: auto;
    height: 20vh;
    box-shadow: 0 0 8px 2px #000;
}
main #contact3 section .contacts div {
    flex: 33%;
    vertical-align: middle;
    border-left: 1px solid #FFF;
    background-color: #222;
    line-height: 20vh;
    box-sizing: border-box;
    text-align: center;
}
main #contact3 section .contacts div:nth-child(3) {
    padding: 6vh;
    line-height: unset;
}
main #contact3 section .contacts div:last-child {
    border-right: 1px solid #FFF;
}
main #contact3 #comment {
    width: 80%;
    margin: auto;
    padding: 50px 0;
}
main #contact3 #comment h2 {
    padding: 50px 0 20px 0;
    text-shadow: 2px 2px #000;
}
main #contact3 #comment form *:not([type="submit"]) {
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    outline: none;
    background-image: radial-gradient(#FFF, #DDD);
}
main #contact3 #comment form *:not([type="submit"]):focus {
    background-image: radial-gradient(#DDD, #BBB);
}
main #contact3 #comment form label {
    padding: 20px 0 !important;
    background: none!important;
}
main #contact3 #comment form textarea {
    min-height: 20vh;
    border: 2px inset #FFF;
}
main #contact3 #comment form input[type="submit"] {
    margin: 10px 0;
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
}
main #contact3 #comment form input[type="submit"]:active {
    background-image: linear-gradient(#555, #BBB);
    outline: none;
}
main #contact4 {
    display: none;
    min-height: 100vh;
    color: #FFF;
    background-image: linear-gradient(#000, #333);
}
main #contact4 h1 {
    text-align: center;
    padding: 50px;
}
main #contact4 #contacts {
    display: flex;
    width: 80%;
    margin: auto;
    padding: 50px 0;
}
main #contact4 #contacts .contact {
    flex: 33%;
    padding: 20px;
    box-sizing: border-box;
    border-right: 1px solid #FFF;
}
main #contact4 #contacts .contact:last-child {
    border-right: none;
}
main #contact4 #contacts .contact h2 {
    text-align: center;
    text-shadow: 2px 2px #000;
}
main #contact4 #contacts .contact .left {
    text-align: left;
    width: 30%;
    float: left;
    font-weight: bolder;
    line-height: 5vh;
}
main #contact4 #contacts .contact .right {
    text-align: right;
    line-height: 5vh;
}
main #contact4 #comment {
    width: 80%;
    margin: auto;
    padding: 0 0 50px;
}
main #contact4 #comment h2 {
    padding: 20px 0 20px 0;
    text-shadow: 2px 2px #000;
}
main #contact4 #comment form *:not([type="submit"]) {
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    outline: none;
    background-image: radial-gradient(#FFF, #DDD);
}
main #contact4 #comment form *:not([type="submit"]):focus {
    background-image: radial-gradient(#DDD, #BBB);
}
main #contact4 #comment form label {
    padding: 20px 0 !important;
    background: none!important;
}
main #contact4 #comment form textarea {
    min-height: 20vh;
    border: 2px inset #FFF;
}
main #contact4 #comment form input[type="submit"] {
    margin: 10px 0;
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
}
main #contact4 #comment form input[type="submit"]:active {
    background-image: linear-gradient(#555, #BBB);
    outline: none;
}
main #general1 {
    display: block;
    min-height: 100vh;
    background-image: linear-gradient(#000,#333);
    color: #FFF;
}
main #general1 h1 {
    text-align: center;
    padding: 100px 0 0;
}
main #general1 .content {
    width: 100%;
    padding: 50px 25%;
    box-sizing: border-box;
    text-align: center;
}
main #general2 {
    display: none;
    min-height: 100vh;
    background-image: linear-gradient(#000, #333);
    color: #FFF;
}
main #general2 h1 {
    text-align: left;
    padding: 100px 10% 0;
}
main #general2 .content {
    width: 100%;
    padding: 50px 10%;
    box-sizing: border-box;
}
main #general3 {
    display: none;
    min-height: 100vh;
    padding: 10vh 0;
    background-color: #AAA;
}
main #general3 .content {
    width: 80%;
    margin: auto;
    min-height: 60vh;
    background-image: linear-gradient(#000, #333);
    color: #FFF;
    box-shadow: 5px 5px 10px 5px #000;
    box-sizing: border-box;
    padding: 50px;
}
main #general4 {
    display: none;
    min-height: 100vh;
    padding: 10vh 0;
    background-color: #AAA;
}
main #general4 .content {
    width: 50%;
    margin: auto;
    min-height: 60vh;
    background-image: linear-gradient(#000, #333);
    color: #FFF;
    padding: 50px;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px 5px #000;
}
footer {
    text-align: center;
    background-color: #111;
    color: #FFF;
    height: auto;
    padding: 0 0 0 15vw;
}
footer a {
    text-decoration: none;
    color: #FFF;
}
footer a:hover {
    color: #BBB;
}
footer #footer1 {
    display: block;
    height: 7vh;
}
footer #footer1 p {
    line-height: 7vh;
    margin: 0;
}
footer #footer2 {
    display: none;
    height: 7vh;
}
footer #footer2 p {
    line-height: 7vh;
    margin: 0;
    float: left;
    padding-left: 5vw;
}
footer #footer2 .social-icons {
    line-height: 7vh;
    width: 20%;
    margin: 0;
    float: right;
    display: flex;
}
footer #footer2 .social-icons a {
    flex: 30%;
}
footer #footer2 .social-icons a svg {
    width: 100%;
}
footer #footer3 {
    height: auto;
    display: none;
}
footer #footer3 .wrap {
    height: 100%;
    width: 100%;
    display: flex;
}
footer #footer3 .wrap div {
    flex: 30%;
    padding: 5vh 5vw;
    box-sizing: border-box;
    border-right: 1px solid #FFF;
}
footer #footer3 .copyright p {
    line-height: 250%;
}
footer #footer3 .contact a {
    width: 100%;
    display: block;
    height: 25%;
}
footer #footer3 .contact h1 {
    width: 100%;
    display: block;
    height: 25%;
}
footer #footer3 .contact a svg {
    height: 100%;
}