main #film1 {
    display: block;
    position: relative;
    background-image: radial-gradient(#000, #222);
    height: 100vh;
}
main #film1  .title {
    line-height: 20vh;
    height: 20vh;
    top: 10vh;
    text-align: center;
    color: #FFF;
}
main #film1 #main-box {
    width: 80%;
    height: 60vh;
    position: relative;
    display: flex;
    left: 10%;
    box-shadow: 0 0 10px 5px #050505;
    background-image: linear-gradient(to right, #111, #333);
}
main #film1 #main-box #filters {
    height: 100%;
    width: 20%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    left: 0;
    position: relative;
    background-color: #000;
    color: #FFF;
}
main #film1 #main-box #filters .filter {
    width: 100%;
    text-align: center;
    cursor: pointer;
}
main #film1 #main-box #filters .filter:hover {
    color: #BBB;
}
main #film1 #main-box #films {
    width: 80%;
    height: 100%;
    display: inline-flex;
    overflow: auto;
    flex-wrap: wrap;
}
main #film1 #main-box #films::-webkit-scrollbar {
    display: block;
    width: 1vw;
}
main #film1 #main-box #films::-webkit-scrollbar-track {
    background: #000;
}
main #film1 #main-box #films::-webkit-scrollbar-thumb {
    background: #FFF;
    border-radius: 1vw;
}
main #film1 #main-box #films .film {
    flex: 50%;
    flex-shrink: 0;
    flex-grow: 0;
    padding: 10px;
    box-sizing: border-box;
    color: #FFF;
}
main #film1 #main-box #films .hide {
    display: none;
}
main #film1 #main-box #films .film h2 {
    text-shadow: 2px 2px #000;
}
main #film1 #main-box #films .film img {
    height: auto;
    width: 100%;
    object-fit: cover;
    border: 1px solid #FFF;
}